@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --black: #171717;
    --white: #F4F4F5;
    --light-violet: #A78BFA;
    --violet: #6D28D9;

    --hover: .8s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 62.5% 'Roboto', sans-serif;
    color: var(--black);
}